@use '~src/colors';
@use 'sass:math';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: colors.$lightColor;

  .main-container {
    margin-top: 50px;
    width: min(90vw, 1100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .timer-container {
      font-size: 32px;
      margin-bottom: 32px;
    }

    .tasks-container {
      display: flex;
      width: 90%;
      gap: 3px;

      .task-item-container {
        cursor: pointer;

        &.visited {
          cursor: default;

          &>.task-item {
            background-color: colors.$mainColor;
          }
        }
      }

      .task-item {
        height: 6px;
        background-color: colors.$lightColor;
        text-align: center;
      }

      .task-title {
        margin-top: 6px;
        text-align: center;
      }
    }
  }

  $answersSheetButtonWidth: 320px;
  $answersSheetButtonHeight: 50px;

  .answers-sheet-button {
    position: fixed;
    left: math.div(($answersSheetButtonHeight - $answersSheetButtonWidth), 2);
    top: 50%;
    height: $answersSheetButtonHeight;
    width: $answersSheetButtonWidth;

    cursor: pointer;
    padding: 8px;
    font-size: 22px;
    font-weight: 800;
    background-color: colors.$mainColor;
    border: none;
    border-radius: 12px 12px 0 0;
    transform: rotate(90deg);

    &:hover {
      opacity: 0.9;
    }
  }
}
