<rfe-navbar></rfe-navbar>

<div class="dark-container">
  <div class="welcome-container">
    <div class="title-container">
      <h1>Бесплатная</h1>
      <h2>школа</h2>
      <h3>подготовки к ЦТ-2022</h3>
    </div>
    <div class="map-container">
      <img src="assets/img/belarus-map.svg">
    </div>
    <div class="join-link-container">
      <a class="join-link" href="#registration">Подать заявку</a>
    </div>
  </div>
</div>

<div class="light-container">
  <div class="description-container">
    <span class="school-description">
      Бесплатная школа подготовки к ЦТ по <span class="accent">физике</span> и <span class="accent">математике</span> для
      поступающих на <span class="extra-bold">факультет РФИКТ</span> по специальностям <span class="extra-bold">физическая
      электроника</span> и <span class="extra-bold">радиофизика</span>.
    </span>
    <div class="detailed-description-container">
      <img src="assets/img/writing.png">
      <span class="detailed-description">
        Школа организована <span class="accent extra-bold">ведущей кафедрой</span>
        факультета радиофизики и компьютерных
        технологий - <span class="accent extra-bold">кафедрой физической
        электроники и нанотехнологий БГУ</span> для
        самых талантливых и умных абитуриентов,
        мечтающих о творческой
        научно-исследовательской деятельности,
        профессиональном программировании,
        изобретательной электронике и
        самореализации.
      </span>
    </div>
  </div>
</div>

<div class="dark-container">
  <div class="discord-container">
    <div class="discord-instructions">
      <span>
        Занятия проходят удалённо в программе <span class="main extra-bold">Discord</span><br>
        (необходимо установить на телефон и/или компьютер)
      </span>
      <img src="assets/img/phone.svg">
    </div>
    <div class="discord-details">
      <div class="challenges-description">
        В чат занятий можно отправлять любые задачи:<br>
        непонятные, пугающие, сложные. Будем вместе разбирать!
      </div>
      <img src="assets/img/wave_black.svg">
    </div>
  </div>
</div>

<div class="dark-container">
  <div class="schedule-container">
    <h2>Расписание</h2>
    <div class="schedule-details">
      <h3>Суббота</h3>
      <div class="session-details">
        <span>19:00</span>
        <div class="session-type main-color-border">математика</div>
      </div>
      <div class="session-details">
        <span>20:00</span>
        <div class="session-type accent-color-border">физика</div>
      </div>
    </div>
  </div>
</div>

<div class="dark-container" id="timetable">
  <div class="calendar-container">
    <h2>Календарь</h2>
    <div class="calendar-stepper-container">
      <div class="sessions-button" (click)="pastShown = !pastShown">
        <img src="assets/img/dropdown.svg" [ngClass]="{ 'rotate180': pastShown }">
        <span>Прошедшие</span>
      </div>
      <div class="past-button-connecting-line"></div>
      <ng-container *ngFor="let session of getSessions()">
        <div class="session-container">
          <div class="session-date-step">{{ formatDate(session.date) }}</div>
          <div class="session-step">
            <div class="session-line"></div>
            <div class="session-content">
              <div class="session-details session-math">
                <div class="title">{{ session.math.title }}</div>
                <span>{{ session.math.time }}</span>
              </div>
              <div class="session-details session-physics">
                <div class="title">{{ session.physics.title }}</div>
                <span>{{ session.physics.time }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="future-button-connecting-line"></div>
      <div class="sessions-button" (click)="tillEndShown = !tillEndShown">
        <img src="assets/img/dropdown.svg" [ngClass]="{ 'rotate180': !tillEndShown }">
        <span>Будущие</span>
      </div>
    </div>
  </div>
</div>

<div class="dark-container" id="registration">
  <div class="registration-container">
    <h2>Регистрация</h2>
    <div class="registration-content">
      <span>
        Для регистрации необходимо отправить письмо на
        адрес: <span class="main extra-bold">kolchevsky@bsu.by</span>
      </span>
      <span>
        Тема письма: Регистрация в Школу для подготовки
        к ЦТ для поступающих на радиофизику РФиКТ БГУ
      </span>
      <span>
        1. ФИО и дата рождения<br>
        2. Город, номер школы<br>
        3. Телефон<br>
        4. E-mail<br>
        5. Средний балл<br>
      </span>
      <a class="join-link" [href]="getMailToLink()">
        Подать заявку
      </a>
    </div>
    <span>
      Для успешно прошедших обучение будет работать<br>
      <span class="main extra-bold">ИНДИВИДУАЛЬНАЯ ПОДДЕРЖКА</span> при подготовке к
      ЦТ и при поступлении на <span class="main extra-bold">лучший</span> факультет
      Республики Беларусь - Факультет Радиофизики и
      Компьютерных Технологий БГУ.
    </span>
  </div>
</div>
