<rfe-navbar></rfe-navbar>

<div class="dark-container">
  <div class="welcome-container">
    <div class="title-container">
      <h1>Бесплатная</h1>
      <h2>школа</h2>
      <h3>подготовки к ЦТ-2022</h3>
    </div>
    <div class="map-container">
      <img src="assets/img/belarus-map.svg">
    </div>
    <div class="join-link-container">
      <a class="join-link">Подать заявку</a>
    </div>
  </div>
</div>


<div class="light-container">
  <div class="description-container">
  <span class="school-description">
    Бесплатная школа подготовки к ЦТ по <span class="accent">физике</span> и <span class="accent">математике</span> для
    поступающих на <span class="extra-bold">факультет РФИКТ</span> по специальностям <span class="extra-bold">физическая
    электроника</span> и <span class="extra-bold">радиофизика</span>.
  </span>
  </div>
</div>
