@use '~src/colors';

:host {
  display: block;
  width: 1000px;
  height: 600px;

  .title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
  }

  .answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .a-part-answers {
      display: flex;
      flex-direction: row;
      gap: 4px;

      .task-answers-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .answer-title {
          text-align: center;
          font-size: 14px;
          width: 32px;
          border: colors.$accentColor 1px solid;
        }

        .answer-checkboxes-container {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }
    }
  }
}
