@use '~src/variables';
@use '~src/colors';

$navbarHeight: 10vh;

:host {
  width: 100%;
  height: $navbarHeight;
  display: flex;
  justify-content: center;
  background-color: colors.$darkColor;

  .container {
    height: 100%;
    width: variables.$contentWidth;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 36px;

    &>a {
      padding: 8px;
      font-size: 18px;
      font-weight: 700;
      color: colors.$lightColor;
      text-decoration: none;

      &:hover {
        color: rgb(colors.$lightColor, 0.9);
        cursor: pointer;
      }
    }

    &>.accent-link {
      padding: 8px 16px;
      background-color: colors.$accentColor;
      border-radius: 8px;

      &:hover {
        background-color: rgb(colors.$accentColor, .90);
      }
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1199px) {
    .container {
      width: 950px;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 999px) {
    .container {
      width: 750px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 799px) {
    .container {
      width: 570px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 599px) {
    .container {
      width: 300px;
      justify-content: center;

      &>a {
        width: 120px;
        font-size: 12px;
        padding: 6px;
      }
    }
  }
}
