@use '../../../colors';
@use '../../../variables';
@use 'sass:math';

@mixin adaptiveSize($width, $scale: 1) {
  .welcome-container {
    width: $width;
    margin-top: math.div(math.div($width, 5), $scale);
    align-items: center;

    &>.title-container {
      z-index: 1;

      &>h1,h2,h3 {
        margin: 0;
        line-height: 44px;
      }

      &>h1 {
        font-size: 44px;
        font-weight: 800;
      }

      &>h2 {
        font-size: 38px;
        font-weight: 700;
      }

      &>h3 {
        font-size: 26px;
      }
    }

    &>.map-container {
      &>img {
        position: static;
        width: math.div($width, $scale);
      }
    }

    &>.join-link-container {
      margin-top: math.div(math.div($width, 6), $scale);
    }
  }

  .description-container {
    width: $width;
    margin: 40px 0;

    &>.school-description {
      margin-bottom: 10px;
      font-size: 22px;
    }

    &>.detailed-description-container {
      display: block;

      &>.detailed-description {
        width: unset;
        height: unset;
        font-size: 20px;
        overflow: hidden;
      }

      &>img {
        margin-right: 8px;
        float: left;
        width: 120px;
        height: 200px;
      }
    }
  }

  .discord-container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: $width;
    gap: 60px;

    &>.discord-instructions {
      &>span {
        font-size: 24px;
      }
    }

    &>.discord-details {
      gap: 40px;

      &>.challenges-description {
        font-size: 18px;
        padding: 12px;
      }
    }
  }

  .schedule-container {
    width: $width;
    margin-bottom: 20px;

    &>h2 {
      font-size: 32px;
    }

    &>.schedule-details {
      gap: 12px;

      &>h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      &>.session-details {
        font-size: 22px;

        &>span {
          width: 70px;
        }
      }
    }
  }

  .calendar-container {
    width: $width;
    gap: 30px;
    margin: 30px 0;

    .sessions-button {
      width: 160px;
      gap: 8px;
      font-size: 20px;
    }

    &>h2 {
      font-size: 32px;
    }

    &>.calendar-stepper-container {
      &>.past-button-connecting-line {
        height: 40px;
      }

      &>.future-button-connecting-line {
        height: 20px;
      }

      .session-container {
        &>.session-date-step {
          width: 160px;
          height: 30px;
          border-radius: 16px;
          font-size: 18px;
        }

        &>.session-step {
          &>.session-content {
            margin: 12px;
            gap: 4px;

            &>.session-details {
              width: 270px;
              gap: 8px;

              &>.title {
                border-radius: 10px;
                font-size: 14px;
                width: 160px;
                padding: 2px 8px;
              }

              &>span {
                font-size: 14px;
                width: 110px;
              }
            }
          }
        }
      }
    }
  }

  .registration-container {
    width: $width;
    gap: 30px;
    margin: 20px 0;

    &>h2 {
      font-size: 32px;
    }

    &>.registration-content {
      gap: 20px;

      &>span {
        font-size: 20px;
      }
    }

    &>span {
      font-size: 18px;
      margin-top: 40px;
    }
  }

  .join-link {
    padding: 12px 24px;
  }
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .dark-container {
    background-color: colors.$darkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .light-container {
    background-color: colors.$lightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome-container {
    height: 70vh;
    position: relative;
    margin-top: 200px;
    margin-bottom: 140px;
    width: variables.$contentWidth;
    display: flex;
    flex-direction: column;
    color: colors.$lightColor;

    &>.title-container {
      display: flex;
      flex-direction: column;
      margin: 0;

      &>h1,h2,h3 {
        margin: 0;
        line-height: 100px;
      }

      &>h1 {
        font-size: 116px;
        font-weight: 800;
      }

      &>h2 {
        font-size: 116px;
        font-weight: 700;
      }

      &>h3 {
        font-size: 52px;
        font-weight: 600;
        color: colors.$mainColor;
      }
    }

    &>.map-container {
      &>img {
        position: absolute;
        top: -80px;
        right: -10px;
      }
    }

    &>.join-link-container {
      margin-top: 60px;
    }
  }

  .description-container {
    width: variables.$contentWidth;
    display: flex;
    flex-direction: column;
    color: colors.$darkColor;
    margin: 120px 0;

    &>.school-description {
      margin-bottom: 60px;
      font-size: 30px;
      font-weight: 700;
    }

    &>.detailed-description-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &>.detailed-description {
        width: 780px;
        height: fit-content;
        font-size: 30px;
        font-weight: 700;
      }

      &>img {
        width: 344px;
        height: 561px;
      }
    }
  }

  .discord-container {
    margin-top: 120px;
    margin-bottom: 80px;
    width: variables.$contentWidth;
    display: flex;
    flex-direction: column;
    gap: 120px;
    color: colors.$lightColor;

    &>.discord-instructions {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      &>span {
        font-size: 30px;
        font-weight: 700;
        width: fit-content;
      }
    }

    &>.discord-details {
      display: flex;
      flex-direction: column;
      gap: 100px;

      &>.challenges-description {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 700;
        border: 2px solid colors.$accentColor;
        padding: 30px;
      }

      &>img {
        filter: variables.$mainColorFilter;
      }
    }
  }

  .schedule-container {
    width: variables.$contentWidth;
    display: flex;
    flex-direction: column;
    color: colors.$lightColor;
    margin-bottom: 80px;

    &>h2 {
      margin: 0;
      font-size: 60px;
      font-weight: 800;
    }

    &>.schedule-details {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &>h3 {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 10px;
      }

      &>.session-details {
        display: flex;
        gap: 10px;
        font-size: 30px;
        font-weight: 600;

        &>span {
          width: 100px;
        }

        &>.session-type {
          border: 1px solid;
          border-radius: 8px;
          width: 220px;
          text-align: center;
        }
      }
    }
  }

  .calendar-container {
    width: variables.$contentWidth;
    display: flex;
    flex-direction: column;
    color: colors.$lightColor;
    gap: 40px;
    margin: 40px 0;

    .sessions-button {
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 8px;
      font-size: 30px;
      font-weight: 700;
      border: 2px solid colors.$lightColor;

      &:hover {
        cursor: pointer;
      }
    }

    &>h2 {
      margin: 0;
      font-size: 60px;
      font-weight: 800;
    }

    &>.calendar-stepper-container {
      display: flex;
      flex-direction: column;

      &>.past-button-connecting-line {
        width: 2px;
        height: 80px;
        background-color: colors.$lightColor;
        margin-left: 20px;
      }

      &>.future-button-connecting-line {
        width: 2px;
        height: 20px;
        background-color: colors.$lightColor;
        margin-left: 20px;
      }

      .session-container {
        display: flex;
        flex-direction: column;

        &>.session-date-step {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 220px;
          height: 40px;
          border: 2px solid colors.$lightColor;
          border-radius: 20px;
          font-size: 26px;
          font-weight: 800;
        }

        &>.session-step {
          display: flex;
          flex-direction: row;

          &>.session-line {
            margin-left: 20px;
            width: 2px;
            background-color: colors.$lightColor;
          }

          &>.session-content {
            display: flex;
            flex-direction: column;
            margin: 30px;
            gap: 12px;

            &>.session-details {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 700px;

              &>.title {
                border: 2px solid;
                border-radius: 10px;
                font-size: 30px;
                font-weight: 700;
                width: 450px;
                padding: 2px 8px;
                text-align: center;
              }

              &>span {
                font-size: 30px;
                font-weight: 700;
                width: 200px;
              }
            }

            &>.session-math>.title {
              border-color: colors.$mainColor;
            }

            &>.session-physics>.title {
              border-color: colors.$accentColor;
            }
          }
        }
      }
    }
  }

  .registration-container {
    width: variables.$contentWidth;
    display: flex;
    flex-direction: column;
    color: colors.$lightColor;
    gap: 70px;
    margin: 50px 0;

    &>h2 {
      margin: 0;
      font-size: 60px;
      font-weight: 800;
    }

    &>.registration-content {
      display: flex;
      flex-direction: column;
      gap: 50px;

      &>span {
        font-size: 30px;
        font-weight: 700;
      }
    }

    &>span {
      font-size: 30px;
      font-weight: 700;
    }
  }

  .join-link {
    display: block;
    width: fit-content;
    font-size: 18px;
    color: colors.$lightColor;
    font-weight: 700;
    padding: 20px 40px;
    background-color: colors.$accentColor;
    border-radius: 8px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: rgb(colors.$accentColor, .90);
    }
  }

  span>.accent {
    color: colors.$accentColor;
  }

  span>.main {
    color: colors.$mainColor;
  }

  span>.extra-bold {
    font-weight: 800;
  }

  .main-color-border {
    border-color: colors.$mainColor !important;
  }

  .accent-color-border {
    border-color: colors.$accentColor !important;
  }

  .rotate180 {
    transform: rotate(180deg);
  }

  @media screen and (min-width: 1100px) and (max-width: 1249px) {
    @include adaptiveSize(1000px, 2.2);
  }

  @media screen and (min-width: 1000px) and (max-width: 1099px) {
    @include adaptiveSize(900px, 2);
  }

  @media screen and (min-width: 900px) and (max-width: 999px) {
    @include adaptiveSize(800px, 1.8);
  }

  @media screen and (min-width: 600px) and (max-width: 899px) {
    @include adaptiveSize(600px, 1.6);
  }

  @media screen and (min-width: 480px) and (max-width: 599px) {
    @include adaptiveSize(480px, 1.4);
  }

  @media screen and (min-width: 320px) and (max-width: 479px) {
    @include adaptiveSize(320px, 1.2);
  }
}
