<ng-container [ngSwitch]="taskId">
  <a1_2015
    *ngSwitchCase="'A1'"
    [mode]="TaskComponentMode.Play"
    [catalog]="taskCatalog"
    [seed]="taskSeed"
  ></a1_2015>
  <rfe-image-answers-task
    *ngSwitchCase="isImageAnswers(taskSubject, taskCatalog, taskId)"
    [mode]="TaskComponentMode.Play"
    [subject]="taskSubject"
    [id]="taskId"
    [catalog]="taskCatalog"
    [seed]="taskSeed"
  ></rfe-image-answers-task>
  <rfe-text-task
    *ngSwitchDefault
    [mode]="TaskComponentMode.Play"
    [subject]="taskSubject"
    [id]="taskId"
    [catalog]="taskCatalog"
    [seed]="taskSeed"
  ></rfe-text-task>
</ng-container>
