@use '~src/colors';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;

  button {
    padding: 4px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    color: colors.$lightColor;
    text-decoration: none;
    background-color: colors.$accentColor;
    cursor: pointer;
  }

  h2 {
    color: colors.$lightColor;
  }

  form {
    max-width: 600px;
    margin-bottom: 200px;

    textarea {
      width: 600px;
      height: 300px;
      resize: none;
    }

    .answers {
      p {
        color: colors.$lightColor;
      }

      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .apply-json-form {
    display: flex;
  }
}
