@use '~src/colors';

$primaryColor: colors.$mainColor;
$checkboxBackgroundColor: colors.$accentColor;
$primaryHoverColor: rgba($primaryColor, 0.1);
$primaryDisabledColor: grey;

.checkbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &>.checkbox {
    width: 23px;
    height: 23px;
    min-width: 23px;
    min-height: 23px;
    border: 1px solid ;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;

    img {
      opacity: 0;
    }

    &:not(.checked) {
      background: none;
      border-color: colors.$darkColor;

      &:hover:not(.disabled) {
        img {
          opacity: 0.3;
        }
      }

      &.disabled {
        border-color: colors.$accentColor;
      }
    }

    &.checked {
      background: colors.$accentColor;
      border-color: colors.$darkColor;
      img {
        opacity: 1;
      }

      &:hover:not(.disabled) {
        background: $primaryHoverColor;

        &:not(.invalid) {
          border-color: $primaryHoverColor;
        }
      }

      &.disabled {
        background: darkgray;
        border-color: gray;
      }
    }

    &.invalid {
      border-color: red;
    }

    &.disabled {
      cursor: default;
    }
  }
}
